@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap');

body {
    background-color: #55E8AA;
    font-family: 'Roboto', serif;
}

.content {
    flex-grow: 1;
}
