.button {
    width: 60%;
    height: 8%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    border: 2.5px solid #59D5EA;
    color: #06BCEA;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5%;
    margin: 2%;
    text-decoration: none;

}

.button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.button:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.button:focus {
    outline: none;
}


.button.inactive {
    color: #B8B8B8;
    border: 2.5px solid #B8B8B8;
    cursor: default;
}

.buttontext {
    margin-right: 10px;
}

.icon {
    width: 20px;
    height: 20px;
    color: #6E0EBA;
}
